<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/srg</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping class="br.com.sgr.model.Cardapio"></mapping>
    <mapping class="br.com.sgr.model.Comanda"></mapping>
    <mapping class="br.com.sgr.model.Endereco"></mapping>
    <mapping class="br.com.sgr.model.Estabelecimento"></mapping>
    <mapping class="br.com.sgr.model.Funcionario"></mapping>
    <mapping class="br.com.sgr.model.Produto"></mapping>
    
  </session-factory>
</hibernate-configuration>